## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
t_count = application_df["APPLICATION_TYPE"].value_counts()
t_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
r_list = list(t_count.tail(9).index)
r_list

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(t_count.tail(9).index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
a = application_df['CLASSIFICATION']
a.value_counts()[a.value_counts()>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Determining the list of classifications to be replaced
b = a.value_counts()[a.value_counts()<=777]
list(b.index)

['C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(b.index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df, dtype=int)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_total = len(X_train[0])
layer1 = 80
layer2 = 30


nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=layer1, activation='relu', input_dim=input_total))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=layer2, activation='relu'))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                             3,520

 dense_1 (Dense)                       (None, 30)                             2,430

 dense_2 (Dense)                       (None, 1)                                 31

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  2s 1ms/step - accuracy: 0.6892 - loss: 0.6024
Epoch 2/100
804/804  1s 1ms/step - accuracy: 0.7311 - loss: 0.5599
Epoch 3/100
804/804  1s 1ms/step - accuracy: 0.7289 - loss: 0.5563
Epoch 4/100
804/804  1s 1ms/step - accuracy: 0.7311 - loss: 0.5539
Epoch 5/100
804/804  1s 1ms/step - accuracy: 0.7325 - loss: 0.5495
Epoch 6/100
804/804  1s 1ms/step - accuracy: 0.7364 - loss: 0.5450
Epoch 7/100
804/804  2s 2ms/step - accuracy: 0.7322 - loss: 0.5504
Epoch 8/100
804/804  2s 2ms/step - accuracy: 0.7335 - loss: 0.5475
Epoch 9/100
804/804  2s 1ms/step - accuracy: 0.7338 - loss: 0.5513
Epoch 10/100
804/804  1s 1ms/step - accuracy: 0.7317 - loss: 0.5495
Epoch 11/100
804/804  1s 1ms/step - accuracy: 0.7335 - loss: 0.5466
Epoch 12/100
804/804  1s 1ms/step - accuracy: 0.7366 - loss: 0.5426
Epoch 13/100
804/804  1s 1ms/step - accuracy: 0.7317 - loss: 0.5465
Epoch 14/100
804/804  1s 1ms/step - accuracy: 0.7305 - loss: 0.5470
Epoch 15/100
804/804  2s 2ms/step - accuracy: 0.7332 - loss: 0.5472
Epoch 16/100
804/804  3s 2ms/step - accuracy: 0.7326 - loss: 0.5476
Epoch 17/100
804/804  1s 1ms/step - accuracy: 0.7346 - loss: 0.5461
Epoch 18/100
804/804  1s 1ms/step - accuracy: 0.7334 - loss: 0.5443
Epoch 19/100
804/804  1s 1ms/step - accuracy: 0.7346 - loss: 0.5433
Epoch 20/100
804/804  1s 1ms/step - accuracy: 0.7334 - loss: 0.5457
Epoch 21/100
804/804  1s 2ms/step - accuracy: 0.7386 - loss: 0.5451
Epoch 22/100
804/804  2s 1ms/step - accuracy: 0.7365 - loss: 0.5420
Epoch 23/100
804/804  1s 2ms/step - accuracy: 0.7364 - loss: 0.5440
Epoch 24/100
804/804  3s 2ms/step - accuracy: 0.7355 - loss: 0.5445
Epoch 25/100
804/804  1s 1ms/step - accuracy: 0.7363 - loss: 0.5439
Epoch 26/100
804/804  1s 1ms/step - accuracy: 0.7398 - loss: 0.5392
Epoch 27/100
804/804  1s 1ms/step - accuracy: 0.7418 - loss: 0.5403
Epoch 28/100
804/804  1s 1ms/step - accuracy: 0.7383 - loss: 0.5402
Epoch 29/100
804/804  1s 1ms/step - accuracy: 0.7362 - loss: 0.5414
Epoch 30/100
804/804  1s 1ms/step - accuracy: 0.7380 - loss: 0.5413
Epoch 31/100
804/804  1s 1ms/step - accuracy: 0.7425 - loss: 0.5356
Epoch 32/100
804/804  1s 2ms/step - accuracy: 0.7431 - loss: 0.5363
Epoch 33/100
804/804  3s 2ms/step - accuracy: 0.7411 - loss: 0.5379
Epoch 34/100
804/804  2s 1ms/step - accuracy: 0.7433 - loss: 0.5356
Epoch 35/100
804/804  1s 1ms/step - accuracy: 0.7417 - loss: 0.5352
Epoch 36/100
804/804  1s 1ms/step - accuracy: 0.7409 - loss: 0.5389
Epoch 37/100
804/804  1s 1ms/step - accuracy: 0.7356 - loss: 0.5403
Epoch 38/100
804/804  1s 1ms/step - accuracy: 0.7364 - loss: 0.5440
Epoch 39/100
804/804  1s 1ms/step - accuracy: 0.7391 - loss: 0.5408
Epoch 40/100
804/804  1s 1ms/step - accuracy: 0.7402 - loss: 0.5396
Epoch 41/100
804/804  2s 2ms/step - accuracy: 0.7401 - loss: 0.5387
Epoch 42/100
804/804  2s 2ms/step - accuracy: 0.7341 - loss: 0.5422
Epoch 43/100
804/804  2s 1ms/step - accuracy: 0.7405 - loss: 0.5384
Epoch 44/100
804/804  1s 1ms/step - accuracy: 0.7365 - loss: 0.5455
Epoch 45/100
804/804  1s 1ms/step - accuracy: 0.7375 - loss: 0.5405
Epoch 46/100
804/804  1s 1ms/step - accuracy: 0.7376 - loss: 0.5371
Epoch 47/100
804/804  1s 1ms/step - accuracy: 0.7420 - loss: 0.5364
Epoch 48/100
804/804  1s 1ms/step - accuracy: 0.7370 - loss: 0.5406
Epoch 49/100
804/804  1s 1ms/step - accuracy: 0.7403 - loss: 0.5380
Epoch 50/100
804/804  1s 2ms/step - accuracy: 0.7355 - loss: 0.5432
Epoch 51/100
804/804  2s 2ms/step - accuracy: 0.7450 - loss: 0.5300
Epoch 52/100
804/804  2s 2ms/step - accuracy: 0.7370 - loss: 0.5388
Epoch 53/100
804/804  1s 1ms/step - accuracy: 0.7424 - loss: 0.5342
Epoch 54/100
804/804  1s 1ms/step - accuracy: 0.7405 - loss: 0.5362
Epoch 55/100
804/804  1s 1ms/step - accuracy: 0.7406 - loss: 0.5323
Epoch 56/100
804/804  1s 1ms/step - accuracy: 0.7427 - loss: 0.5369
Epoch 57/100
804/804  1s 1ms/step - accuracy: 0.7403 - loss: 0.5390
Epoch 58/100
804/804  1s 1ms/step - accuracy: 0.7359 - loss: 0.5357
Epoch 59/100
804/804  1s 1ms/step - accuracy: 0.7396 - loss: 0.5415
Epoch 60/100
804/804  2s 2ms/step - accuracy: 0.7402 - loss: 0.5377
Epoch 61/100
804/804  2s 2ms/step - accuracy: 0.7388 - loss: 0.5368
Epoch 62/100
804/804  1s 1ms/step - accuracy: 0.7408 - loss: 0.5377
Epoch 63/100
804/804  1s 1ms/step - accuracy: 0.7413 - loss: 0.5384
Epoch 64/100
804/804  1s 1ms/step - accuracy: 0.7427 - loss: 0.5344
Epoch 65/100
804/804  1s 1ms/step - accuracy: 0.7411 - loss: 0.5363
Epoch 66/100
804/804  1s 1ms/step - accuracy: 0.7405 - loss: 0.5383
Epoch 67/100
804/804  1s 1ms/step - accuracy: 0.7429 - loss: 0.5339
Epoch 68/100
804/804  1s 1ms/step - accuracy: 0.7436 - loss: 0.5346
Epoch 69/100
804/804  1s 2ms/step - accuracy: 0.7373 - loss: 0.5391
Epoch 70/100
804/804  3s 2ms/step - accuracy: 0.7365 - loss: 0.5390
Epoch 71/100
804/804  2s 2ms/step - accuracy: 0.7423 - loss: 0.5348
Epoch 72/100
804/804  2s 1ms/step - accuracy: 0.7389 - loss: 0.5374
Epoch 73/100
804/804  1s 1ms/step - accuracy: 0.7413 - loss: 0.5335
Epoch 74/100
804/804  1s 1ms/step - accuracy: 0.7378 - loss: 0.5400
Epoch 75/100
804/804  1s 1ms/step - accuracy: 0.7385 - loss: 0.5381
Epoch 76/100
804/804  1s 1ms/step - accuracy: 0.7414 - loss: 0.5368
Epoch 77/100
804/804  2s 2ms/step - accuracy: 0.7428 - loss: 0.5321
Epoch 78/100
804/804  2s 2ms/step - accuracy: 0.7393 - loss: 0.5358
Epoch 79/100
804/804  2s 1ms/step - accuracy: 0.7423 - loss: 0.5336
Epoch 80/100
804/804  1s 1ms/step - accuracy: 0.7377 - loss: 0.5385
Epoch 81/100
804/804  1s 1ms/step - accuracy: 0.7409 - loss: 0.5342
Epoch 82/100
804/804  1s 1ms/step - accuracy: 0.7432 - loss: 0.5325
Epoch 83/100
804/804  1s 1ms/step - accuracy: 0.7391 - loss: 0.5374
Epoch 84/100
804/804  1s 1ms/step - accuracy: 0.7463 - loss: 0.5305
Epoch 85/100
804/804  2s 2ms/step - accuracy: 0.7356 - loss: 0.5393
Epoch 86/100
804/804  3s 2ms/step - accuracy: 0.7445 - loss: 0.5314
Epoch 87/100
804/804  1s 1ms/step - accuracy: 0.7422 - loss: 0.5340
Epoch 88/100
804/804  1s 1ms/step - accuracy: 0.7411 - loss: 0.5358
Epoch 89/100
804/804  1s 1ms/step - accuracy: 0.7469 - loss: 0.5320
Epoch 90/100
804/804  1s 1ms/step - accuracy: 0.7406 - loss: 0.5369
Epoch 91/100
804/804  1s 1ms/step - accuracy: 0.7408 - loss: 0.5394
Epoch 92/100
804/804  1s 1ms/step - accuracy: 0.7385 - loss: 0.5367
Epoch 93/100
804/804  1s 1ms/step - accuracy: 0.7393 - loss: 0.5354
Epoch 94/100
804/804  2s 2ms/step - accuracy: 0.7364 - loss: 0.5398
Epoch 95/100
804/804  3s 2ms/step - accuracy: 0.7401 - loss: 0.5358
Epoch 96/100
804/804  2s 1ms/step - accuracy: 0.7413 - loss: 0.5371
Epoch 97/100
804/804  1s 1ms/step - accuracy: 0.7372 - loss: 0.5358
Epoch 98/100
804/804  1s 1ms/step - accuracy: 0.7454 - loss: 0.5316
Epoch 99/100
804/804  1s 1ms/step - accuracy: 0.7439 - loss: 0.5326
Epoch 100/100
804/804  1s 1ms/step - accuracy: 0.7399 - loss: 0.5383

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 2ms/step - accuracy: 0.7303 - loss: 0.5659
Loss: 0.5659235119819641, Accuracy: 0.7302623987197876

In [20]:
# Export our model to HDF5 file
nn_model.save('h5Files/AlphabetSoupCharity.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.